# The 'users' DynamoDB table was created manually in the AWS console.
# Table name: users
# Partition key: email (String)
# Billing: PAY_PER_REQUEST
#
# IAM: Attach the following inline policy to your EB instance role
# (IAM > Roles > aws-elasticbeanstalk-ec2-role > Add inline policy):
#
# {
#   "Version": "2012-10-17",
#   "Statement": [{
#     "Effect": "Allow",
#     "Action": [
#       "dynamodb:GetItem",
#       "dynamodb:PutItem",
#       "dynamodb:UpdateItem",
#       "dynamodb:DeleteItem",
#       "dynamodb:DescribeTable"
#     ],
#     "Resource": "arn:aws:dynamodb:us-east-2:*:table/users"
#   }]
# }
