{% extends "base.html" %}
{% block title %}AI Agents - miminions.ai{% endblock %}
{% block content %}
<section class="">
	<div class="container px-5">
	<h2>Your AI Agents</h2>
	<p class="text-muted mb-4">Manage and interact with your autonomous AI agents</p>

	<div class="row row-cols-1 row-cols-md-2 g-4">
		{% for agent in agents %}
		<div class="col ">
		<div class="agents">
			<div class="agents-preview">
				<p>{{agent["model"]}}</p>
				<h6>{{agent["name"]}}</h6>
			</div>
			<div class="agents-info">
				<h6>{{agent["tools_type"].title().replace("_", " ")}}</h6>
				<div class="progress-container">
				<div class="progress"></div>
				<span class="progress-text"></span>
				</div>
				
				<p class="pt-2">{{agent["instructions"] | truncate(120)}}</p>
				<a href="{{ url_for('chat', assistant_id=agent.id) }}"><button class="agents-btn">Continue</button></a>
			</div>
		</div>
		</div>
		{% endfor %}
	</div>
	</div>
</section>
{% endblock %}
